.borderC{
    border: 1px solid rgba(153, 153, 153, 0.484);
    min-width: 300px;
padding: 10px;
    border-radius: 5px;
}

.ql-container.ql-snow{
    border: 0;
}

.height_of_quill .quill .ql-container, .ql-editor{
min-height: auto !important;
}