.consentForm{
    background: var(--secondary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;

    & .form-label{
        color: var(--base-text-color);
        font-weight: 500;
    }
    & input::placeholder{
        color:var(--side-text-color);
    }
}
.sigCanvas{
    width: 100%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.videoPreview{
    width: 100vw;
    height: 70vh;
}

@media (max-width: 768px){
    .videoPreview{
        width: 100%;
        height: 100%;
    }
}
